.venv/
env/
.env
.python-version

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/
pip-wheel-metadata/

# Testing / coverage / lint
.pytest_cache/
.nox/
.tox/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# DB / storage
*.sqlite3
uploads/

# OS / IDE
.DS_Store
.idea/
.vscode/
